.crud-tentang-container {
  margin-top: 50px;
}

.crud-tentang-container .form-control {
  margin-bottom: 15px;
}

.crud-tentang-container .btn {
  margin-top: 10px;
}

.crud-tentang-container .list-group-item {
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}