

.beranda-container {
  display: flex;
  height: 100vh; /* Memastikan elemen mengisi tinggi layar */
}

.sidebar {
  width: 250px; /* Tentukan lebar tetap sidebar */
}

.dashboard {
  margin-left: 250px; /* Sesuaikan dengan lebar sidebar */
  flex: 1; /* Dashboard mengambil sisa ruang */
  background-color: #f8f9fa; /* Warna latar belakang dashboard */
  padding: 20px;
  overflow: hidden; /* Menghindari scroll */
}