.gallery-container {
  max-width: 1200px;
  margin: 0 auto;
}

.video-card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.video-card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.react-player {
  border-radius: 10px;
}