.card {
  transition: transform 0.2s;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: 100%;
  height: auto; /* Atur tinggi gambar secara otomatis */
  object-fit: contain; /* Pastikan gambar tampil sepenuhnya tanpa terpotong */
}