.tentang-kami-section {
  padding: 50px 0;
  background-color: #f8f9fa;
}

.tentang-kami-section h2 {
  font-size: 2rem;
  font-weight: bold;
}

.tentang-kami-section p {
  font-size: 1rem;
  line-height: 1.6;
}

.tentang-kami-section img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.hero-image {
  max-width: 100%;
  height: auto;
  max-height: 500px; /* Adjust the max-height as needed */
  border-radius: 15px; /* Adjust the border-radius as needed */
}